body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.misteraladin.com/blog/2019/07/08064709/Featured-image-patung-tetenger-Surabaya.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center; /* Teks di tengah */
  }
  
  h1 {
    color: #007bff;
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
  }
  
  .section {
    margin-top: 30px;
  }
  
  h2 {
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0056b3;
  }
  